.align-sub
  vertical-align sub


.question
  .checkbox
    .el-checkbox-group
      .el-checkbox
        white-space inherit  !important
        margin-bottom: 15px

.question
  .radio
    .el-radio-group
      .el-radio
        white-space inherit  !important
        margin-bottom: 20px
        margin-top: 20px
