.btn-search-box-oragan
  background #EF8144
  border-radius 54px
  font-style normal
  font-weight bold
  font-size 16px
  line-height 23px
  color #FFFFFF
  padding 12px 26px
 
.btn-with-label 
  position relative 
 
  &.error-input 
    label
      color #E91D23
    input
      border-color #E91D23
  input
    border-radius 12px
    border 1px solid var(--out-line-out-line, #9B9393)
  label  
    position absolute
    font-size 12px
    left 0
    background white 
    padding-left 4px
    padding-right 4px
