.el-color-picker
  .el-color-picker__trigger
    padding 0
    height 26px
    width 26px
    
  .is-icon-close
    display none
  .is-icon-arrow-down
    display inline-flex !important
    color black !important