.date-rank
  height 50px !important
  .el-input__inner
    height 50px !important
    border-radius 8px !important
.date-admin, .date-attendee
  height 49px !important
  display inline !important
  .el-input__inner
    height 49px !important
    box-shadow none
    border 1px solid black 
    border-radius 8px !important
    &:focus
      box-shadow none !important

.date-attendee
  .el-input__inner
    border 1px solid #E7E7F2 