
.is-fullscreen .el-dialog__header 
  display none

.datepicker
  .el-input
    width 97% !important

.select-price
  .el-select 
    .select-trigger
      .el-input
        .el-input__inner
          padding: 0 !important

.el-carousel__indicators--horizontal
  left 48% !important
  transform translateX(-48%) !important
