
.heart-box
  position relative
  width 96px
  height 338px
  margin auto

.diamon-box
  position relative
  width 146px
  height 340px

.animate-top
  position absolute
    -webkit-animation movetopbottommiddle 1.8s 0s 1

  -moz-animation movetopbottommiddle 1.8s 0s 1
  -o-animation movetopbottommiddle 1.8s 0s 1
  -ms-animation movetopbottommiddle 1.8s 0s 1
  animation movetopbottommiddle 1.8s 0s 1

@keyframes movetopbottommiddle
  0%
    opacity 1
    transform rotateZ(0deg)

  25%
    opacity 1
    transform rotateZ(-5deg)

  50%
    opacity 0.8
    transform rotateZ(-10deg)

  75%
    opacity 0.3
    transform rotateZ(-15deg)

  100%
    top 0%
    opacity 0
    transform rotateZ(-20deg)

.animateDynamicLeft40
  position absolute
  animation left40 2s 1
  animation-timing-function linear
  visibility hidden

@keyframes left40
  0%
    top 280px
    left 40px
    opacity 1
    transform rotateZ(-25deg)
    transform scale(1)
    visibility visible

  25%
    top 225px
    left 80px
    opacity 1
    transform rotateZ(25deg)
    transform scale(0.85)
    visibility visible

  50%
    top 150px
    left 140px
    opacity 1
    transform rotateZ(-25deg)
    transform scale(0.6)
    visibility visible

  75%
    top 75px
    left 80px
    opacity 1
    transform rotateZ(25deg)
    transform scale(0.45)
    visibility visible

  100%
    top 30px
    left 30px
    opacity 0
    transform rotateZ(-25deg)
    transform scale(0.2)
    visibility hidden

.animateDynamicLeft30
  position absolute
  animation left30 2.3s 1
  animation-timing-function linear
  visibility hidden

@keyframes left30
  0%
    top 280px
    left 30px
    opacity 1
    transform rotateZ(0deg)
    transform scale(1)
    visibility visible

  25%
    top 225px
    left 80px
    opacity 1
    transform rotateZ(0deg)
    transform scale(0.75)
    visibility visible

  50%
    top 150px
    left 100px
    opacity 1
    transform rotateZ(25deg)
    transform scale(0.5)
    visibility visible

  75%
    top 75px
    left 50px
    opacity 1
    transform rotateZ(25deg)
    transform scale(0.25)
    visibility visible

  100%
    top 0px
    left 20px
    opacity 0
    transform rotateZ(-25deg)
    transform scale(0.1)
    visibility hidden

.animateDynamicLeft20
  position absolute
  animation left20 2.5s 1
  animation-timing-function linear
  visibility hidden

@keyframes left20
  0%
    top 280px
    left 20px
    opacity 1
    transform rotateZ(0deg)
    transform scale(1)
    visibility visible

  25%
    top 225px
    left 40px
    opacity 1
    transform rotateZ(0deg)
    transform scale(0.75)
    visibility visible

  50%
    top 150px
    left 50px
    opacity 1
    transform rotateZ(25deg)
    transform scale(0.5)
    visibility visible

  75%
    top 75px
    left 30px
    opacity 1
    transform rotateZ(25deg)
    transform scale(0.25)
    visibility visible

  100%
    top 0px
    left 30px
    opacity 0
    transform rotateZ(-25deg)
    transform scale(0.1)
    visibility hidden


.animateDynamicLeft10
  position absolute
  animation left0 2.5s 1
  animation-timing-function linear
  visibility hidden

@keyframes left0
  0%
    top 280px
    left 35px
    opacity 1
    transform rotateZ(0deg)
    transform scale(1)
    visibility visible

  25%
    top 225px
    left 10px
    opacity 1
    transform rotateZ(0deg)
    transform scale(0.75)
    visibility visible

  50%
    top 150px
    left 15px
    opacity 1
    transform rotateZ(25deg)
    transform scale(0.5)
    visibility visible

  75%
    top 75px
    left 10px
    opacity 1
    transform rotateZ(25deg)
    transform scale(0.25)
    visibility visible

  100%
    top 0px
    left 35px
    opacity 0
    transform rotateZ(-25deg)
    transform scale(0.1)
    visibility hidden

.animateDynamicLeft0
  position absolute
  animation left0 2.5s 1
  animation-timing-function linear
  visibility hidden

@keyframes left0
  0%
    top 280px
    left 35px
    opacity 1
    transform rotateZ(0deg)
    transform scale(1)
    visibility visible

  25%
    top 225px
    left -10px
    opacity 1
    transform rotateZ(0deg)
    transform scale(0.75)
    visibility visible

  50%
    top 150px
    left -20px
    opacity 1
    transform rotateZ(25deg)
    transform scale(0.5)
    visibility visible

  75%
    top 75px
    left -10px
    opacity 1
    transform rotateZ(25deg)
    transform scale(0.25)
    visibility visible

  100%
    top 0px
    left 35px
    opacity 0
    transform rotateZ(-25deg)
    transform scale(0.1)
    visibility hidden