.form-event
  .el-overlay
    .el-drawer
      border-radius: 16px 0px 0px 16px !important
      .el-drawer__body
        padding 0 !important
        background: #F6F6F6 !important

.form-event
  .el-button:hover
    background-color: transparent !important