.event-tabs .el-tabs__item:hover, .event-tabs .el-tabs__item.is-active
  color #C80815 !important
  font-weight bold
  // background black !important

.event-tabs 
  
  &.el-tabs--border-card, .el-tabs__nav-scroll, .el-tabs__content
    // background black
    border-color #C80815 !important
  .el-tabs__item
    margin-bottom 10px
    // background #C80815
    color #C80815
    font-size 28px
    padding 0 !important
    border-color #C80815 !important
    // font-weight bold

.event-tabs-event .el-tabs__item:hover, .event-tabs-event .el-tabs__item.is-active
  color #C80815 !important
  text-shadow:0px 0px 1px #C80815;
  // background black !important

.event-tabs-event 
  .el-tabs__active-bar
    background #E91D23
  &.el-tabs--border-card, .el-tabs__nav-scroll, .el-tabs__content
    // background black
    border-color #E91D23 !important
  .el-tabs__item
    margin-bottom 10px
    // background #E91D23
    color #796D6D
    font-size 18px
    // padding 0 !important
    border-color #E91D23 !important

.box-table
  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 11px
  padding-bottom 15px