.swal2-container-custom
  width auto !important
  max-width 500px !important
  z-index 9999 !important
  
  .swal2-title
    @apply text-sm !important

.swal2-popup.swal2-toast.swal2-custom
  background-color rgba(white, 0.9)
  border 0.3px solid fuscous-gray
  border-radius 6px

.swal2-popup.swal2-toast.swal2-custom.swal2-show
  animation-name fadeInDown

.swal2-popup.swal2-toast.swal2-custom.swal2-hide
  animation-name fadeOutUp