.van-action-sheet.dark
  .van-action-sheet__cancel, .van-action-sheet__item
    color white
    background-color #303031
    font-size 14px

  .van-action-sheet__gap
    background-color darken(#303031, 60%)

  button:focus
    outline none

.van-popup.van-action-sheet.dark
  background-color #303031